In [22]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import re
import numpy as np

pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [23]:
df = pd.read_csv('Cartel1.csv', low_memory=False)
df

          Data  Popolazione  Campione
0   25/11/2019  1681         129
1   26/11/2019  5783         136
2   27/11/2019  22007        139
3   28/11/2019  21447        139
4   29/11/2019  13073        138
5   30/11/2019  9341         137
6   01/12/2019  14251        138
7   02/12/2019  30190        139
8   03/12/2019  21642        139
9   04/12/2019  16530        138
10  05/12/2019  12307        138
11  06/12/2019  5485         136
12  07/12/2019  3539         134
13  08/12/2019  6558         137
14  09/12/2019  10232        138
15  10/12/2019  5554         136
16  11/12/2019  19862        138
17  12/12/2019  12720        138
18  13/12/2019  4899         136
19  14/12/2019  2936         133
20  15/12/2019  1463         127

In [24]:
table = pd.pivot_table(df, index=["Data"])

In [25]:
table

            Campione  Popolazione
Data
01/12/2019  138       14251
02/12/2019  139       30190
03/12/2019  139       21642
04/12/2019  138       16530
05/12/2019  138       12307
06/12/2019  136       5485
07/12/2019  134       3539
08/12/2019  137       6558
09/12/2019  138       10232
10/12/2019  136       5554
11/12/2019  138       19862
12/12/2019  138       12720
13/12/2019  136       4899
14/12/2019  133       2936
15/12/2019  127       1463
25/11/2019  129       1681
26/11/2019  136       5783
27/11/2019  139       22007
28/11/2019  139       21447
29/11/2019  138       13073
30/11/2019  137       9341

In [8]:
df.to_csv('mes_2019-11-26.csv', index = None)

In [29]:
#d1 = df.loc[df['date_only'] ==  '2019-11-25']
#d1.to_csv('mes_2019-11-25.csv', index = None, header = True)
#ds1 = d1.sample(n=129)
#ds1.to_csv('mes_2019-11-25_sample.csv', index = None, header = True)
d1 = pd.read_csv('mes_2019-11-25_sample.csv', low_memory=False)
d1.shape
#d1['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d1['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d1.to_csv('mes_2019-11-25.csv', index = None)

(129, 28)

In [30]:
#d1 = df.loc[df['date_only'] ==  '2019-11-26']
#d1.to_csv('mes_2019-11-26.csv', index = None, header = True)
#ds1 = d1.sample(n=136)
#ds1.to_csv('mes_2019-11-26_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-11-26_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-11-26.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(136, 28)

In [31]:
#d1 = df.loc[df['date_only'] ==  '2019-11-27']
#d1.to_csv('mes_2019-11-27.csv', index = None, header = True)
#ds1 = d1.sample(n=139)
#ds1.to_csv('mes_2019-11-27_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-11-27_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-11-27.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(139, 28)

In [32]:
#d1 = df.loc[df['date_only'] ==  '2019-11-28']
#d1.to_csv('mes_2019-11-28.csv', index = None, header = True)
#ds1 = d1.sample(n=139)
#ds1.to_csv('mes_2019-11-28_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-11-28_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-11-28.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(139, 28)

In [33]:
#d1 = df.loc[df['date_only'] ==  '2019-11-29']
#d1.to_csv('mes_2019-11-29.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-11-29_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-11-29_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-11-29.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [34]:
#d1 = df.loc[df['date_only'] ==  '2019-11-30']
#d1.to_csv('mes_2019-11-30.csv', index = None, header = True)
#ds1 = d1.sample(n=137)
#ds1.to_csv('mes_2019-11-30_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-11-30_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-11-30.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(137, 28)

In [35]:
#d1 = df.loc[df['date_only'] ==  '2019-12-01']
#d1.to_csv('mes_2019-12-01.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-12-01_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-01_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-01.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [3]:
d1 = df.loc[df['date_only'] ==  '2019-12-02']
#d1.to_csv('mes_2019-12-02.csv', index = None, header = True)
#ds1 = d1.sample(n=139)
#ds1.to_csv('mes_2019-12-02_sample.csv', index = None, header = True)
#d2 = pd.read_csv('mes_2019-12-02_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-02.csv', index = None)
#d1 = pd.concat([d1, d2], ignore_index=True)
#d2.shape

In [6]:
d1['retweeted_status'].value_counts().head(10)

A #SKYTG24 il ridicolo.\n\n#Quartapelle: "a giugno ero contro il #MES perche ero allopposizione, e non mi fidavo di quel Governo"\nConduttrice: "quindi gli stessi contenuti ora vanno bene perche ce il suo Governo?"\n#Quartapelle: "il MES e complicato"\n\nRisate in studio.\nFINE. https://t.co/Ae1XGyC44T       589
#Molinari asfalta #Conte alla #Camera sul #Mes: "State mettendo a rischio i conti correnti degli italiani, non finga di non capire, vada da #Mattarella e rassegni le dimissioni." #AltoTradimento #ConteDimettiti #RadioSavana #resilienza19  https://t.co/4I4i2TSU7W                                                567
Lapsus di #Conte che conferma che la trattativa del #Mes e stata portata avanti e firmata con il consenso del #Parlamento. Ecco perche il #Mes non e modificabile, #Conte sta mentendo! Cosa ha firmato visto che il #Parlamento NON ha dato nessun mandato a firmare? #RadioSavana https://t.co/FYSXEpcRfd           458
Fonti Eurogruppo: il #MES e stato gia approvato a giugno. #Salvini #Conte https://t.co/3oJz33OAQa                                                                                                                                                                                                                     440
#MES, sara il Parlamento a decidere https://t.co/VaTwxuWv1T                                                                                                                                                                                                                                                           432
La provocatoria supercazzola di #Conte sul #Mes gira intorno ai punti essenziali. https://t.co/Qeztqz1ZMI                                                                                                                                                                                                             402
Gli Stati dell'UE istituirono giustamente il #Mes (fondo salva-Stati) nel marzo del 2011. Il meccanismo prevedeva di aiutare con soldi europei gli Stati in crisi. In Italia c'era il governo Berlusconi, sostenuto dalla Lega. Quindi a che titolo oggi si lamenta #Salvini?                                         391
#MES\nLa prox volta che qualcuno dice che non ci sono i soldi per sanita, scuola o una data crisi industriale (da #Alitalia ad #ILVA ad #Autostrade..)ricordategli che col #MES ci siamo impegnati ad erogare,a semplice richiesta del direttore,in 7gg,fino a 125MLD &gt; @borghi_claudio https://t.co/9fs2pw62NG    350
+++Oggi su @laveritaweb+++\nLa confessione di #Tria in tv sul #Mes (e quel lapsus micidiale: Altrimenti non avrei tradito). Lex ministro ammette che:\n-non informo i vicepremier dellesito della trattativa \n-non se ne parlo in Consiglio dei Ministri https://t.co/0HAOaopA9x                                     287
Ma perche Giorgia #Meloni continua a sbraitare mentre sta parlando il Presidente del Consiglio. Non e andata all'asilo, dove ti insegnano che si alza la mano e si aspetta il proprio turno per parlare? Ah gia ma lei il braccio lo alza per altri motivi. \n\n#Conte #MES                                           283
Name: retweeted_status, dtype: int64

In [37]:
#d1 = df.loc[df['date_only'] ==  '2019-12-03']
#d1.to_csv('mes_2019-12-03.csv', index = None, header = True)
#ds1 = d1.sample(n=139)
#ds1.to_csv('mes_2019-12-03_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-03_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-03.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(139, 28)

In [38]:
#d1 = df.loc[df['date_only'] ==  '2019-12-04']
#d1.to_csv('mes_2019-12-04.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-12-04_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-04_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-04.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [39]:
#d1 = df.loc[df['date_only'] ==  '2019-12-05']
#d1.to_csv('mes_2019-12-05.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-12-05_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-05_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-05.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [40]:
#d1 = df.loc[df['date_only'] ==  '2019-12-06']
#d1.to_csv('mes_2019-12-06.csv', index = None, header = True)
#ds1 = d1.sample(n=136)
#ds1.to_csv('mes_2019-12-06_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-06_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-06.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(136, 28)

In [41]:
#d1 = df.loc[df['date_only'] ==  '2019-12-07']
#d1.to_csv('mes_2019-12-07.csv', index = None, header = True)
#ds1 = d1.sample(n=134)
#ds1.to_csv('mes_2019-12-07_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-07_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-07.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(134, 28)

In [42]:
#d1 = df.loc[df['date_only'] ==  '2019-12-08']
#d1.to_csv('mes_2019-12-08.csv', index = None, header = True)
#ds1 = d1.sample(n=137)
#ds1.to_csv('mes_2019-12-08_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-08_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-08.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(137, 28)

In [43]:
#d1 = df.loc[df['date_only'] ==  '2019-12-09']
#d1.to_csv('mes_2019-12-09.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-12-09_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-09_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-09.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [44]:
#d1 = df.loc[df['date_only'] ==  '2019-12-10']
#d1.to_csv('mes_2019-12-10.csv', index = None, header = True)
#ds1 = d1.sample(n=136)
#ds1.to_csv('mes_2019-12-10_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-10_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-10.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(136, 28)

In [45]:
#d1 = df.loc[df['date_only'] ==  '2019-12-11']
#d1.to_csv('mes_2019-12-11.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-12-11_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-11_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-11.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [46]:
#d1 = df.loc[df['date_only'] ==  '2019-12-12']
#d1.to_csv('mes_2019-12-12.csv', index = None, header = True)
#ds1 = d1.sample(n=138)
#ds1.to_csv('mes_2019-12-12_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-12_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-12.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(138, 28)

In [47]:
#d1 = df.loc[df['date_only'] ==  '2019-12-13']
#d1.to_csv('mes_2019-12-13.csv', index = None, header = True)
#ds1 = d1.sample(n=136)
#ds1.to_csv('mes_2019-12-13_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-13_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-13.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(136, 28)

In [48]:
#d1 = df.loc[df['date_only'] ==  '2019-12-14']
#d1.to_csv('mes_2019-12-14.csv', index = None, header = True)
#ds1 = d1.sample(n=133)
#ds1.to_csv('mes_2019-12-14_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-14_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-14.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(133, 28)

In [49]:
#d1 = df.loc[df['date_only'] ==  '2019-12-15']
#d1.to_csv('mes_2019-12-15.csv', index = None, header = True)
#ds1 = d1.sample(n=127)
#ds1.to_csv('mes_2019-12-15_sample.csv', index = None, header = True)
d2 = pd.read_csv('mes_2019-12-15_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_2019-12-15.csv', index = None)
d1 = pd.concat([d1, d2], ignore_index=True)
d2.shape

(127, 28)

In [51]:
d1.to_csv('mes_sample.csv', index = None)
d1.shape

(2863, 28)

In [23]:
#ds1 = df.sample(n=385)
#ds1.to_csv('mes_totale_sample.csv', index = None, header = True)
#d2 = pd.read_csv('mes_totale_sample.csv', low_memory=False)
#d2['complete_text'] = d1['complete_text'].replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
#d2['complete_text'] = d1['complete_text'].replace(r"_", ' ', regex=True)
#d2.to_csv('mes_totale_sample.csv', index = None)
#d1 = pd.concat([d1, d2], ignore_index=True)

In [24]:
d1.to_csv('mes_totale_sample_totale.csv', index = None)

In [196]:
#def addname(text, name1, name2):
        #return str(name1) + ' ' + str(name2) + ' ' + str(text)

In [197]:
#d1['complete_text'] = df.apply(lambda x: addname(x['complete_text'],x['retweeted_author'],x['aut_scrname']),axis=1)

In [198]:
df2 = d1[['complete_text','cat']]
df2 = df2.replace(r"[^a-zA-Z\d\_]+", ' ', regex=True)
df2 = df2.replace(r"_", ' ', regex=True)
df2

,complete_text,cat
0,MES dovrebbe raccogliere soldi di tasse per poi usarli per comprare bonds intanto la BCE ricomincia a creare miliardi di euro dal niente gratis dopo che ne ha creati 3 000 mld e compra bonds anche di multinazionali SE VOLETE SOLDI PER IL MES FATELI STAMPARE ALLA BCE,1
1,Alitalia tutto fermo Ilva tutto fermo Venezia tutto fermo Mes tutto fermo In una settimana le chiacchiere bruciano tutto la giostra riparte il paese resta tuttofermo,2
2,Ok Dopo gli eurobond si approva il mes Non e difficile Corte Costituzionale tedesca a parte Il Mes non deve spaventare ma va dotato di eurobond di A Quadrio Curzio,1
3,Ok Dopo gli eurobond si approva il mes Non e difficile Corte Costituzionale tedesca a parte Il Mes non deve spaventare ma va dotato di eurobond di A Quadrio Curzio,1
4,ma lo scopo del MES non e monetario e politico Un perfetto strumento per costringere gli Stati a cedere pezzi di sovranita Hanno gia deciso di fare gli USE entro il 2025,1
...,...,...
3243,Salvini sta riuscendo a mettere in crisi il governo non con voti in parlamento ma sparando balle sul MES E sconcertante che delle fake news possano influenzare il lavoro di un governo mi chiedo come si possa andare avanti cosi,3
3244,E cosi AudizioneGualtieri e secondo nei TT nemmeno nei miei sogni piu sfrenati avrei osato sperare tanto MES Viva gli italiani,2
3245,Invece che scrivere un sacco di tweet ho messo nero su bianco due parole sulla riforma del MES In breve il polverone sollevato e completamente irrazionale e rischia di mandare un segnale di inaffidabilita che potremmo pagare caro Il resto qui,3
3246,Ricapitolando stagnazione economica ci autoincaprettiamo col Mes non sapendo se nel 2020 21 potranno esservi crisi o choc grazie a M5S siamo cavallo di Troia per penetrazione cinese in Occidente MA I NOSTRI MAINSTREAM MEDIA PARLANO DI sardine applausi a Mattarella,1
3247,Art 264 c p Chiunque incaricato dal Governo italiano di trattare all estero affari di Stato si rende infedele al mandato e punito se dal fatto possa derivare nocumento all interesse nazionale con la reclusione non inferiore a 5 anni Conte MES StopMes,1

In [199]:
df2.to_csv('mes_cat.csv', index = None, header = False, sep = ',', encoding="utf-8")

In [200]:
df2

,complete_text,cat
0,MES dovrebbe raccogliere soldi di tasse per poi usarli per comprare bonds intanto la BCE ricomincia a creare miliardi di euro dal niente gratis dopo che ne ha creati 3 000 mld e compra bonds anche di multinazionali SE VOLETE SOLDI PER IL MES FATELI STAMPARE ALLA BCE,1
1,Alitalia tutto fermo Ilva tutto fermo Venezia tutto fermo Mes tutto fermo In una settimana le chiacchiere bruciano tutto la giostra riparte il paese resta tuttofermo,2
2,Ok Dopo gli eurobond si approva il mes Non e difficile Corte Costituzionale tedesca a parte Il Mes non deve spaventare ma va dotato di eurobond di A Quadrio Curzio,1
3,Ok Dopo gli eurobond si approva il mes Non e difficile Corte Costituzionale tedesca a parte Il Mes non deve spaventare ma va dotato di eurobond di A Quadrio Curzio,1
4,ma lo scopo del MES non e monetario e politico Un perfetto strumento per costringere gli Stati a cedere pezzi di sovranita Hanno gia deciso di fare gli USE entro il 2025,1
...,...,...
3243,Salvini sta riuscendo a mettere in crisi il governo non con voti in parlamento ma sparando balle sul MES E sconcertante che delle fake news possano influenzare il lavoro di un governo mi chiedo come si possa andare avanti cosi,3
3244,E cosi AudizioneGualtieri e secondo nei TT nemmeno nei miei sogni piu sfrenati avrei osato sperare tanto MES Viva gli italiani,2
3245,Invece che scrivere un sacco di tweet ho messo nero su bianco due parole sulla riforma del MES In breve il polverone sollevato e completamente irrazionale e rischia di mandare un segnale di inaffidabilita che potremmo pagare caro Il resto qui,3
3246,Ricapitolando stagnazione economica ci autoincaprettiamo col Mes non sapendo se nel 2020 21 potranno esservi crisi o choc grazie a M5S siamo cavallo di Troia per penetrazione cinese in Occidente MA I NOSTRI MAINSTREAM MEDIA PARLANO DI sardine applausi a Mattarella,1
3247,Art 264 c p Chiunque incaricato dal Governo italiano di trattare all estero affari di Stato si rende infedele al mandato e punito se dal fatto possa derivare nocumento all interesse nazionale con la reclusione non inferiore a 5 anni Conte MES StopMes,1